.manage-clinic-container {
  padding: 15px;
  .btn-add-new-specialty {
  }
  .add-new-specialty {
    .left {
    }
    .btn-save-specialty {
      margin-left: 10px;
      padding: auto 15px;
    }
  }
}
