.manage-specialty-container {
  .btn-add-new-specialty {
  }
  .add-new-specialty {
    .left {
      margin-left: 15px;
    }
    .btn-save-specialty {
      margin-left: 10px;
      padding: auto 15px;
    }
  }
}
