.doctor-extra-infor-container {
  padding-left: 15px;

  .content-up {
    margin-bottom: 10px;

    .text-address {
      text-transform: uppercase;
      color: #333;
      font-size: 16px;
      font-weight: 500;
    }
    .name-clinic {
      padding: 5px 0;
      font-weight: 600;
      color: #333;
    }
    .detail-address {
      font-weight: 600;
      color: #333;
    }
  }
  .content-down {
    .short-infor {
      .detail {
        cursor: pointer;
        color: #48c4d3;
        font-weight: 600;
      }
      .currency {
        margin: 0 5px;
      }
    }

    .title-price {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: bold;
      color: rgba(102, 102, 102, 1);
    }
    .detail-infor {
      border: 1px solid #ddd;
      padding: 5px;
      background-color: #f8f8f8;

      .price {
        padding-bottom: 5px;
        position: relative;

        .left {
        }
        .right {
          position: absolute;
          float: right;
          top: 50%;
          right: 0;
          padding-right: 5px;
        }
      }
      .note {
        color: rgba(102, 102, 102, 1);
      }
    }
    .payment {
      background-color: #eee;
      border: 1px solid #ddd;
      padding: 5px;
      color: rgba(0, 0, 0, 1);
    }
    .hide-price {
      margin-top: 10px;

      span {
        cursor: pointer;
        color: #48c4d3;
        font-weight: 600;
      }
    }
  }
}
